@use "@/styles/mixins" as *;

.Status {
  position: relative;
  background-color: #fff;
  border: 4px solid var(--orange-map-border);
  border-radius: 16px;
  padding: 10px 14px;
  box-shadow: 0 4px 0 var(--orange-map-shadow);
  width: 200px; // 길이를 나랑 상대 동일하게 고정

  @include plush-stitch(2px, 12px, 0.4, 5);

  li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .label {
    width: 35px;
    font-size: 11px;
    font-weight: 800;
    color: var(--orange-shadow);
    background-color: #fff0eb;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 8px;
    text-align: center;
  }

  strong {
    font-weight: 900;
    font-size: 14px;
    color: #333;
  }

  .hp {
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;

    .hp-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 6px;

      .value {
        display: flex;
        align-items: baseline;
        font-size: 13px;
        font-weight: 900;
        color: #888;
        line-height: 1;

        .current {
          color: #333;
          margin-right: 2px;
          transition:
            color 0.2s,
            transform 0.2s;

          &.red {
            color: #ff5050;
            transform: scale(1.1);
          }
        }
      }
    }

    .hp-bar {
      position: relative;
      width: 100%;
      height: 14px;
      background-color: #eee;
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #ddd;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

      .bar {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 10px;
        transition: width 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &.green {
          background-color: #01c42b;
        }

        &.orange {
          background-color: #ffc400;
        }

        &.red {
          background-color: #db0000;
        }
      }

      .effect {
        height: 100%;
        border-radius: 10px;
        transition: width 1.2s ease-out;
        background-color: #ff8d8d;
      }
    }
  }
}

@keyframes border-blink-red {
  0%,
  100% {
    border-color: #ffb1b1;
    box-shadow: 0 0 0 rgba(219, 0, 0, 0);
  }
  50% {
    border-color: #db0000;
    box-shadow: 0 0 4px 0px rgba(219, 0, 0, 0.6);
  }
}

.Status.red {
  .hp-bar {
    border-color: #db0000;
    animation: border-blink-red 1s infinite ease-in-out;
  }
}
