@use "@/styles/mixins" as *;

.Dialog {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;

  .content {
    position: relative;
    background-color: var(--main-map-border);
    padding: 8px;
    border-radius: 24px;
    box-shadow: 0 4px 0 var(--main-map-shadow);
    width: 100%;
    max-width: 400px;
    overflow: hidden;

    // 봉제선 (Stitch line)
    @include plush-stitch(4px, 20px, 0.4, 10);

    .wrapper {
      padding: 15px 10px;
      border-radius: 18px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      color: black;
      white-space: pre-wrap;
      text-align: center;
      width: 100%;

      .title {
        font-weight: bold;
        font-size: 20px;
        color: var(--main-border);
      }

      .sub-title {
        font-size: 16px;
        font-weight: 500;
        color: #7e7e7e;
      }

      strong {
        font-weight: 900;
        color: var(--main-shadow);
      }

      .body {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;
      border-radius: 18px;
      padding: 8px 0;
    }
  }
}
